<nav class="navbar navbar-default hide-header hidden-xs hidden-sm">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ root_url }}/">af</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ root_url }}/work">Work</a></li>
      <li><a href="{{ root_url }}/art">Art</a></li>
      <li><a href="{{ root_url }}/blog">Blog</a></li>
      <!-- <li><a href="{{ root_url }}/shop">Shop</a></li> -->
    </ul>
  </div>
</nav>

<button class="menu-toggle visible-sm visible-xs hidden-md hidden-lg" id="menu-toggle">
  <span>MENU</span>
</button>
<div id="mobile-menu" class="mobile-wrap">
  <nav id="mobile-nav">
    <ul class="list-unstyled links-menu-bar">
      <li><a href="{{ root_url }}/">Home</a></li>
      <li><a href="{{ root_url }}/work">Work</a></li>
      <li><a href="{{ root_url }}/art">Art</a></li>
      <li><a href="{{ root_url }}/blog">Blog</a></li>
      <!-- <li><a href="#">Shop</a></li> -->
    </ul>
    <ul class="list-inline social-menu-bar">
      <li><a href="https://www.linkedin.com/in/alan-fung-2b11b677"><i class="fa fa-linkedin fa-1x"></i></a></li>
      <li><a href="https://github.com/wailunfung"><i class="fa fa-github-alt fa-1x"></i></a></li>
      <li><a href="https://www.instagram.com/alfydj/"><i class="fa fa-instagram fa-1x"></i></a></li>
      <li><a href="mailto:wailunfung@gmail.com?subject=Hello! I Viewed Your Portfolio!"><i class="fa fa-envelope-o fa-1x"></i></a></li>
    </ul>
  </nav>
</div>
