/* Art Index */
.art-banner {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: #666;
  background-image: url("/images/art/art-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .art-header {
    text-align: center;
    width: 100%;
    h1 {
      color: #FFF;
      font-weight: 700;
      font-size: 150px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 3px #FFF;
      @media (max-width: 991px) {font-size: 100px;}
      @media (max-width: 600px) {font-size: 65px; color: #FFF; -webkit-text-stroke: transparent; -webkit-text-fill-color: #FFF;}
    }
    h4 {
      color: #FFF;
    }
  }
}
