/* Work */
.sonyele {
  background-image: url("/images/work/sony/sony-banner.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sapientnitro {
  background-image: url("/images/work/sapient/sapient-banner.jpg");
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  .port-header h1 {
    -webkit-text-stroke: 3px #FFF;
    @media (max-width: 991px) {font-size: 100px;}
    @media (max-width: 600px) {font-size: 65px; color: #FFF;}
  }
  .port-header h4 {
    color: #FFF;
  }
}